<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='/style.css')}}">
</head>
<body>
    <h1>FlaskTODO</h1>
    <hr>
    <div class="content">

    <hr>
    <form method="post" action="/search" >
        <p>
            <b><label for="name">Search</label></b>
        </p>
        <p>
            <input type="text" name="name" placeholder="Search">
        </p>
        <button type="submit">Submit</button>
    </form>
    <div class="flexclass">
        <div>              
            <form method="post">
                <p>
                    <b><label for="Name">Name</label></b>
                </p>
                <p>
                    <input type="text" name="Name" placeholder="Name">
                </p>
        
                <p>
                    <b><label for="Family">Degree</label></b>
                </p>
                <p>
                    <input id="degree-0" name="Family" required type="text"  placeholder="Family">
                    <label for="degree-0">Important</label>
                </p>
                <button type="submit">Submit</button>
            </form>  
            {% for todo in todos %}
                <div class="todo">
                    <p>{{ todo['Name'] }} <i>({{ todo['Family']}})</i></p>
                </div>
                <form method="POST" action="{{ url_for('delete2', id=todo['_id']) }}" >
                    <input type="submit" value="Delete Todo"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
            {% endfor %}
        </div>
            <div>
                <form method="post" action="/AddOldModel">
                    <p>
                        <b><label for="degree">degree</label></b>
                    </p>
                    <p>
                        <input type="text" name="degree" placeholder="degree">
                    </p>
            
                    <p>
                        <b><label for="content">Degree</label></b>
                    </p>
                    <p>
                        <input id="degree-0" name="content" required type="text"  placeholder="content">
                        <label for="degree-0">Important</label>
                    </p>
                    <button type="submit">Submit</button>
                </form>  
                {% for todo in tod %}
                <div class="todo">
                    <p>{{ todo['content'] }} <i>({{ todo['degree']}})</i></p>
                </div>
                <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                    <input type="submit" value="Delete Todo"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
                {% endfor %}
            </div>
            <div>
                <form method="post" action="/InsertUser">
                    <p>
                        <b><label for="Name">Name</label></b>
                    </p>
                    <p>
                        <input type="text" name="Name" placeholder="Name">
                    </p>
            
                    <p>
                        <b><label for="Family">Degree</label></b>
                    </p>
                    <p>
                        <input id="degree-0" name="Family" required type="text"  placeholder="Family">
                    </p>
                    <button type="submit">Submit</button>
                </form>  
                {% for todo in user %}
                <div class="todo">
                    <p>{{ todo['Name'] }} <i>({{ todo['Family']}})</i></p>
                </div>
                <form method="POST" action="{{ url_for('DeleteUser', id=todo['_id']) }}" >
                    <input type="submit" value="Delete Todo"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>